//colors
$white: #f6f6f6;
$white-grey: #ececec;
$white-2: #e1e1e1;
$white-3: #979797;

$grey-2: #525252;
$black-grey: #4d4d4d;
$black: #000;

$blue-green: #75e6da;
$blue: #0000ff;

$purple-grape: #6f2da8;

$dark: #243447;
$darker: #141d26;

//font
$verdana: Verdana, Geneva, Tahoma, sans-serif;
