.header {
  &__title {
    margin: 2rem 2rem 2rem;
  }
  h1 {
    color: $white;
    font-weight: 600;
  }
  input {
    margin: 0 2rem 2rem 2rem;
    padding: 1.2rem;
    border-radius: 0.5rem;
    font-weight: bolder;
    &.light {
      background-color: $white;
    }
    &.dark {
      background-color: $dark;
      color: $white;
    }
  }
  &__theme {
    cursor: pointer;
  }
  /* The alert message box w3school alert*/
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
  }

  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  &.light {
    background-image: url("../../images/bg-mobile-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.dark {
    background-image: url("../../images/bg-mobile-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
