.tabs{ //taken from w3school
    overflow: hidden;
    button{
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    &__content {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        animation: fadeEffect 1s;
    }
    &.light{
        border: 1px solid $white;
        background-color: $white;
        button{
            color: $black;
        }
        button:hover {
            background-color: $white-2;
        }
        button.active {
            background-color: $white-2;
        }
    }
    &.dark{
        border: 1px solid $dark;
        background-color: $dark;
        button{
            color: $white;
        }
        button:hover {
            background-color: $darker;
        }
        button.active {
            background-color: $darker;
        }
    }
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }