<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="dist/styles.css">

  <title>Frontend Mentor | Todo app</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body class="light">
  <header class="flex flex-d-col header light">
    <div class="header__title flex flex-jc-sb flex-ai-c">
      <span class="sidenav__menu_btn" onclick="openNav()">&#9776;</span>
      <h1>T O D O</h1>
      <img id="theme" class="header__theme" src="images/icon-moon.svg" alt="theme switch">
    </div>
    <input id="add_todo" type="text" class="light" name="add_todo" placeholder="Create a new todo...">
  </header>

  <div id="sidenav" class="sidenav light">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <form method="post" th:action="@{/logout}">
      <button class="" type="submit">Logout</button>
    </form>
  </div>

  <div id="tabs" class="tabs light">
    <button th:id="${tasklists.name}+_btn" th:each="tasklists: ${tasklists}" class="tablinks"
      th:attr="onclick=|openTasklist(event, '${tasklists.name}')|" th:text="${tasklists.name}"></button>
    <button id="tablinks_add" class="tabslinks" onclick="">+</button>
  </div>


  <div th:id="${tasklists.name}" th:each="tasklists: ${tasklists}" class="tabs__content">
    <ul th:id="${tasklists.name}+_list" class="list flex flex-d-col">
      <li class="flex flex-jc-sb flex-ai-c" draggable="true" th:each="tasks,taskIndex : ${tasklists.tasks}">
        <span class="flex flex-ai-c gap-1-10">
          <img th:id="check_id_+${tasklists.name + '_' + taskIndex.index}" class="border-white"
            src="../../images/icon-check.svg">
          <p th:text="${tasks.name}"></p>
        </span>
        <img th:id="cross_id_+${tasklists.name + '_' + taskIndex.index}" class="cross"
          src="../../images/icon-cross.svg">
      </li>
    </ul>
  </div>


  <div class="action__option flex flex-jc-sa">
    <span id="item_left">0 items left</span>
    <a id="clear_completed">Clear Completed</a>
  </div>

  <div class="list__filter flex flex-jc-c gap-1-10">
    <a id="all" class="active">All</a>
    <a id="active">Active</a>
    <a id="completed">Completed</a>
  </div>
  <h4 class="text-a-c">Drag and drop to reorder list</h4>

  <!--<button id="send">test</button>-->
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Fabien AH-LEUNG</a>.
  </div>
  <script th:inline="javascript">
    var tasklists = /*[[${tasklists}]]*/[];
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="app/js/variables.js"></script>
  <script src="app/js/functions.js"></script>
  <script src="app/js/scripts.js"></script>
  <script src="app/js/requests.js"></script>

</body>